*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url('https://i.pinimg.com/550x/d4/4f/ae/d44fae8c36dcb7ace4feb6ab0c994f2f.jpg');
    
}
h1{
    text-align: center;
    margin:35px;
    font-family:cursive;
    color:burlywood;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding:20px;
    
}
.gallery{                      /* galley is made flex because properties to be applied on images inside it*/
    
    display: flex;
    flex-wrap: wrap;              /* immediate parent should be made flex*/
    justify-content: center;
    gap: 40px;
    
}
.card{
    width: 28%;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom:20px;
    margin-left: 10px;
    cursor: pointer;
       
}
.card img{
    position: absolute;
    width: 100%;
    height:100% ;
    filter: grayscale(100%);
    object-fit:cover;
}
.card:hover{
    transform: scale(1.03);
    transition: 1.12s;   
    box-shadow: 5px 5px 20px rgba(241, 218, 4, 0.596),-5px -5px 20px rgba(241, 218, 4, 0.596);
}
.card:hover img{
    filter:grayscale(0%);
    transition: 1.12s;


}
.card figcaption{
    position: absolute;
    opacity: 0;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-weight: 500;
    color:rgba(243, 188, 6, 0.918);
}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.13);
    transition: 1.12s;
    background: linear-gradient(to top,rgba(255, 255, 255, 0.295),rgba(0, 0, 0, 0.244));
    
}